# config
/tsconfig.*
.gitlab-ci.yml
.circleci/*
.github
.prettierrc
.prettierignore
.vscode
**/*.spec.*
coverage
.nyc_output
*.log
commitlint.config.js
.editorconfig
.yarnrc
.eslintrc.json
.eslintrc.js
.grs.config.js
.git-helper.config.js
CHANGELOG.md

# packageManager
package-lock.json
yarn.lock
pnpm-lock.yaml

# dirs
/src
/docs
/scripts
/esm
test
test-cases
tmp
cache
public
